/* custom styles */
/* .container {
    background-image: url('../../public/default.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border: 2px solid black;
    height: 264px;
    width: 264px;
    opacity: 0.5;
}

.content {
    opacity: 1;
} */
