/* custom styles */
.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: url('../../public/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;    
    height: 300px;
    width: 100%;
}